*{ 
    margin: 0;
    padding: ;
    font-family: 'open sans', sans-serif;


}
.bac{
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom ,left;



}

/* header and navigation section */
nav{
    display: flex;
    justify-content: space-between;
    margin:  50px 200px;
}
ul li{
    list-style: none;
    padding-left: 50px;
  
}
nav ul{
    display: flex;
    align-items: center;
    
}    

.nav-title{
    font-weight: 800;
    font-size: 45px;
}



.text-primary{
    color: #fd6e0a;
}

/*  banaer style */
.btn-primary{
color: aliceblue;
background-color: #fd6e0a;
border: none;
height: 600;
font-weight: 700;
font-size: 20px;
border-radius: 5px;
padding: 10px 15px;

}





.banar{
 display: flex;
 margin: 0 200px;
align-items: center;

}
.banar-title{
    color: rgb(119, 137, 153);
    font-size: 25px;
margin-bottom: 15px;
   
  
}
.banar-subtitle{
    color: black;
    font-size: 45px;
    width: 600;
    margin-bottom: 20px;
    text-decoration: brown;
    
}
.banar-p{
    color:gray;
    margin-bottom: 30px;
    
}
.banar-b{
border: .5px solid #fd6e0a;

height: 600;
font-weight: 700;
font-size: 20px;
border-radius: 5px;
padding: 10px 30px;
color: #fd6e0a;

}
/* table item */
main{
    
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;

}
.about{
    margin-top: 130px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 100px 110px;
}
.section{
    margin-bottom: 30px;
    font-size: 20px;
}
.section-title{
    margin-bottom: 30px;
}
table{

    padding-left: 250px;
  
   
  text-align: center;
  font-size: 20px;
  width: 700;
  border-collapse: collapse;
}



  

td{
    margin-top: 300px;
    border: none;
    padding-bottom: 30px;
}